@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background: linear-gradient(141deg, #ffffff 0%, #f3f3f3 51%, #eeeeee 75%);
    font-family: 'Baloo Da 2', cursive;
    color: #454545;
}

::selection{
    /* color: #ca94f7; */
    color: tomato;
    background: rgb(179, 245, 234);
}



/* NAV BAR */

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    position: fixed;
    margin: auto;
    margin-top: -40px;
    background: #fff;
    box-shadow: 0px 3px 5px 0px rgba(179,179,179,1);
}


.nav-bar .logo{
    cursor: pointer;
    margin-top: 10px;
}

.nav-bar .logo img{
    width: 200px;
    height: 40px;
}

.nav-bar .navLink{
    margin: 1px 10px;
    transition: .7s;
    cursor: pointer;
    color: #454545;    
}


    .nav-bar .dropdown #menu a{  
        text-decoration: none;
        position: relative;
        overflow: hidden;
        transition: 0.7s all;
    }
  
    .nav-bar .dropdown #menu a:before{
                content: '';
                width: 20px;
                position: absolute;
                bottom: -2px;
                right: 80%;
                transition: 0.7s all;
        }

        .nav-bar .dropdown #menu a:hover:before{
            border-bottom: 1px solid #313131;
            right: 0;
        }
            
    .nav-bar .dropdown .links a img{
        width: auto;
        height: 20px;
    }
/* FIN NAV BAR */

/* ENCABEZADO */

#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imagenes/encabezado3212.png);
    background-position: center;
    background-size: cover;
    margin-top: 40px;
    color: #454545;
    height: 80vh;
    -webkit-box-shadow: 0px 6px 56px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 56px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 15px -5px rgba(155, 155, 155, 0.75);
}

#encabezado .introduccion{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50vw;
}

#encabezado .introduccion img{
    width: 80%;
    margin-bottom: 8%;
}

#encabezado .introduccion p{
    font-size: 20px;
    width: 350px;
    text-align: center;
    margin-bottom: 15%;
}

#encabezado .socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#encabezado .socialMedia a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 18px;
}

#encabezado .socialMedia img{
    width: 70%;
}

/* SECCIONES MATERIAS */

#seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

#seccion .materias-titulo{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5%;
    padding: 10px 30px;
    border: 1px solid #454545;
    width: 14vw;
    font-size: 28px;
    letter-spacing: 5px;
    background-color: #a9b1af41;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
    
#seccion .materias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    width: 20%;
    margin-top: 50px;
}


#seccion .materias ul{
    margin:10px;
}

#seccion .materias ul li{
    border: 1px solid #7d7d80;
    margin: 10px;
    width: 100%;
}
        /* Footer */

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: auto;
    text-align: center;
    height: 50px;
    width: 100%;
    border-top: 1px solid #c5c5c5;
}

    .pie p{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pie img{
        margin: auto;
        width: 30px;
        height: 38px;
    }

        .pie p .volver {
            color: tomato;
        }

/* FIN SECCIONES MATERIAS */

/* FORMULARIO DE CONTACTO */

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    background: rgba(180, 180, 180, 0.233);
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px 50px;
    transition: all 0.6s;
}

    .contactForm label{
        margin-top: 10px;
        margin-bottom: 10px;
        transition: 0.5s;
    }

    .contactForm input{
        border: none;
        border-bottom: 1px solid;
        border-color: #7d7d80;
        width: 50%;
        height: 40px;
        background: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 0.5s;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}

        .contactForm input:focus{
            border-color: teal;
        }

        .contactForm input::placeholder{
             color: rgba(0, 0, 0, 0.582)
        }

    .contactForm textarea{
        border: none;
        border-bottom: 1px solid;
        border-color: #7d7d80;
        border-radius: 5px;
        margin-bottom: 20px;
        background: rgba(206, 206, 206, 0.089);
        resize: none;
        width: 80%;
        padding: 20px;
        font-family: 'Gotu', sans-serif;
        transition: all 1.2s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-transition: all 1.2s;
        -moz-transition: all 1.2s;
        -ms-transition: all 1.2s;
        -o-transition: all 1.2s;
}

        .contactForm textarea:focus{
            border-radius: 0px;
            border-color: teal;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
}

            .contactForm textarea::placeholder{
                color: rgba(0, 0, 0, 0.452)
            }

    .contactForm .btn{
        background: none;
        border: 1px solid #454545;
        border-radius: 5px;
        width: 20%;
        height: 50px;
        cursor: pointer;
        transition: all 0.5s;
        padding: auto;
        color: #454545;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 20px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

        .contactForm .btn:hover{
            box-shadow: 10px 10px 10px 0px #a9b1af;
            letter-spacing: 1px;
        }

        .contactForm .btn:active{
            transform: translateY(2px);
        }


/* FIN FORMULARIO DE CONTACTO */

/* JAVASCRIPT TOGGLE CLASSES */
.darkMode{
    color: rgba(255, 255, 255, 0.808);
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /*Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.darkhead{
    /* background-color: rgba(90, 90, 90, 0.719); */
    color: rgb(231, 231, 231);
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mostrar{
    display: none;
}

.dropbtn{
    display: none;
}

.fontColor{
    color: rgb(231, 231, 231);
}

/* FIN JAVASCRIPT TOGGLE CLASSES */


@media only screen and (max-width: 900px){


    *{
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /* NAV-BAR */
    
    .nav-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 60px;
        margin-top: -17%;
        position: fixed;
        border-bottom: 1px solid #F4F4F4;
    }

    .links{
        display:none;
        position: fixed;
        flex-wrap: wrap;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

        .navLink{
            padding: 10px;
            color: #000;
            transition: 0.5s;
        }

            .navLink:hover{
                color: teal;
                text-shadow: unset;
            }

    
    .show{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: #f4f4f4;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        text-align: left;
    }


    .dropdown .dropbtn{
        color: #acacac;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        background: none;
        border: 1px solid rgb(187, 187, 187);
        border-radius: 10px;
        box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.274);
        margin-right: 5px;
        transition: 0s 0.1s;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        -webkit-transition: 0s 0.1s;
        -moz-transition: 0s 0.1s;
        -ms-transition: 0s 0.1s;
        -o-transition: 0s 0.1s;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

        .dropbtn:active{
            color: #5c93b6;
            transition: 0s;
            box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
        }
    /* FIN NAV-BAR */

    #encabezado{
        margin-top: 60px;
        height: auto;
    }

        .textoEncabezado{
            font-size: 10px;
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 5px;
            margin-left: 5px;
        }

    #parrafo{
        display: none;
    }

    .parrafo{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    #seccion{
        display: flex;
        flex-wrap: nowrap;
        width: auto;
    }

    #seccion .materias{
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px;
    }

    .pie{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        background: #c5c5c5;
        transition: all 0.6s;
    }

    .pie p {
        transition: all 0.6s;
    }

}

@media only screen and (max-width: 750px){
    #seccion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: -12px;
    }

    #seccion2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #parrafo{
        display: none;
    }

    .materias{
        margin: 25px;
        /* height: 150px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
    }

    .materias .matImgG{
        width: 50%;
        height: 100%;
    }

    
    .textoEncabezado p{
        font-size: 12px;
        font-weight: 600;
    }

    form textarea{
        display: flex;
        flex-direction: column;
        
    }
    
    .contactForm label{
        padding: 10px 0;
    }

    .contactForm input{
        width: 100%;
    }

        .contactForm input::placeholder{
            font-size: 12px;
        }

    .contactForm .btn{
        width: 80%;
        padding: 15px;
    }

    .contactForm textarea{
        height: 40%;
    }
        .contactForm textarea::placeholder{
            font-size: 12px;
        }

        .pie p{
            font-size: 12px;
            padding: 0 20px;
        }
}